# Banco de dados
database/*.db

# Logs
logs/

# Arquivos temporários
*.log
*.tmp

# Dados do Mosquitto
configs/mosquitto/passwd
configs/mosquitto/*.pid

# Cache
.cache/

# Arquivos do sistema
.DS_Store
Thumbs.db

# MQTT persistence
storage/mosquitto.db


# Python cache
__pycache__/
*.pyc
