# ==========================
# Banco de dados
# ==========================
database/*.db
*.sqlite
*.sqlite3


# ==========================
# Logs
# ==========================
logs/
*.log


# ==========================
# Arquivos temporários
# ==========================
*.tmp
*.temp


# ==========================
# Mosquitto MQTT
# ==========================
configs/mosquitto/passwd
configs/mosquitto/*.pid
storage/mosquitto.db


# ==========================
# Python
# ==========================
__pycache__/
*.pyc
venv/
.venv/
*/venv/


# ==========================
# Cache
# ==========================
.cache/


# ==========================
# Configurações locais
# ==========================
configs/*.local
configs/device.local.conf
configs/storage.local.conf


# ==========================
# Arquivos dos usuários
# ==========================
uploads/
files/
storage/HomeHub/


# ==========================
# Editor
# ==========================
.vscode/


# ==========================
# Sistema
# ==========================
.DS_Store
Thumbs.db
